/* start staff */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smothing: antialiased;
    scroll-behavior: smooth;
}
:root{
    --black: #000;
    --white: #ffffff;
    --main-2: #ff47da;
    --main-1: #D6FFB7;
    --detal-1: #89043d;
    --detal-2: #e27396;
    --font-1: 'Lato', sans-serif;
    --font-2: 'Playfair Display', serif;
}
.all-wraper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* nawigacja */

nav{
    height: 100px;
    width: 100%;
    display: flex;
    z-index: 10;
    background-color: var(--white);
}
.nav-logo-wraper{
    width: 30%;
    height: 100%;
}
.nav-list{
    font-size: 0;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-a-wraper{
    font-size: 0;
    margin: 0 2rem;
    height: 50%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
    transition: 0.2s;
    transform: translate(0px ,0px);
    user-select: none;
}
.nav-a-wraper:hover .nav-a{
    transform: translate(-4px, -4px);
}

/* hi section */

.hi{
    width: 100%;
    height: calc(70vh - 100px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.hi-gradient{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hi-gradient::before {
    background-color: #000;
    background-size: 300%;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 80%);
    animation: background-move 22s linear infinite;
  }
  @keyframes background-move {
    to{
        background-position: 300%;
    }
  }
.hi-text{
    position: relative;
    z-index: 11;
    font-size: 8rem;
    color: var(--white);
    padding-bottom: 1rem;
}

/* about section */

.about{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
}
.about-wraper{
    width: 60%;
    height: auto;
    /* border: 3px solid var(--black); */
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem 2rem 2rem;
}
.about-title{
    line-height: 3.5rem;
    font-size: 2rem;
    font-weight: 800;
}
.about-text{
    /* line-height: 3.5rem; */
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--black);
    text-align: center;
}

/* work section */

.work{
    height: 80vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
}
.work-title-wraper{
    padding: 1rem;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.work-title{
    font-size: 8rem;
    font-weight: 700;
    color: var(--white);
    padding-right: 1rem;
}
.projects-conteiner{
    /* padding-top: 2rem; */
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* work section project card */

.project{
    width: 360px;
    height: 540px;
    margin: 0 auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.project-img-wraper{
    width: 100%;
    height: auto;
}
.project-img{
    width: 100%;
    /* border-radius: 1rem; */
    object-fit: contain;
}
.project-text-wraper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 1rem;
}
.project-title{
    font-weight: 700;
    color: var(--black);
    font-size: 1.5rem;
}
.project-description{
    font-weight: 400;
    color: var(--black);
    font-size: 1.1rem;
    text-align: center;
}
.project-links-conteiner{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-link-wraper{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    text-decoration: none;
}
.project-link-wraper:hover .project-link-background::before{
    width: 100%;
    border-radius: 2rem;
}
.project-link-wraper:hover .project-link{
    color: var(--white);
}
.project-link-background{
    width: 90%;
    height: 3rem;
    background-color: var(--white);
    border-radius: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem;
    position: relative;
}
.project-link-background::before{
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: var(--black);
    position: absolute;
    left: 0;
    transition: 0.2s;
}
.project-link-background::after{
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    background-color: transparent;
    border-top: 3px solid var(--white);
    border-right: 3px solid var(--white);
    position: absolute;
    left: 1.15rem;
    transform: translate(-50%) rotate(45deg);
}
.project-link{
    color: var(--black);
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    transition: 0.2s;
    z-index: 90;
}

/* contact section */

footer{
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: var(--white);
}
.footer-conteiner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
    background-color: var(--white);
}
.footer-title{
    font-size: 8rem;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-wraper{
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
}
.footer-text{
    color: var(--black);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

/* link */
.footer-link-wraper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}
.footer-link-wraper:hover .footer-link-background::before{
    width: 150px;
    border-radius: 2rem;
}
.footer-link-wraper:hover .footer-link{
    color: var(--white);
}
.footer-link-background{
    width: 90%;
    height: 3rem;
    background-color: var(--white);
    border-radius: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem;
    position: relative;
}
.footer-link-background::before{
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: var(--black);
    position: absolute;
    left: 0;
    transition: 0.2s;
}
.footer-link-background::after{
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    background-color: transparent;
    border-top: 3px solid var(--white);
    border-right: 3px solid var(--white);
    position: absolute;
    left: 1.15rem;
    transform: translate(-50%) rotate(45deg);
}
.footer-link{
    color: var(--black);
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    transition: 0.2s;
    z-index: 90;
}
