/* start staff */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smothing: antialiased;
    scroll-behavior: smooth;
}
:root{
    --black: #353535;
    --white: #ffffff;
    --main-2: #ff47da;
    --main-1: #D6FFB7;
    --detal-1: #89043d;
    --detal-2: #e27396;
    --font-1: 'Lato', sans-serif;
    --font-2: 'Playfair Display', serif;
}
.gradient-text{
    background: linear-gradient(45deg, var(--main-2),
    var(--detal-2),
     #06d69e,
     #779BE7,
     #DC965A,
     var(--main-2));
   background-size: 300%;
   color: var(--black);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: background-move 22s linear infinite;
}
.all-wraper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* nawigacja */

nav{
    height: 100px;
    width: 100%;
    display: flex;
    z-index: 10;
    background-color: var(--white);
}
.nav-logo-wraper{
    width: 30%;
    height: 100%;
}
.nav-list{
    font-size: 0;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-a-wraper{
    font-size: 0;
    margin: 0 2rem;
    height: 50%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
    transition: 0.2s;
    transform: translate(0px ,0px);
    user-select: none;
}
.nav-a-wraper:hover .nav-a{
    transform: translate(-4px, -4px);
}

/* hi section */

.hi{
    width: 100%;
    height: calc(70vh - 100px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.hi-gradient{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hi-gradient::before {
    background: linear-gradient(90deg, var(--main-2),
     var(--detal-2),
      #06d69e,
      #779BE7,
      #DC965A,
      var(--main-2));
    background-size: 300%;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 80%);
    animation: background-move 22s linear infinite;
  }
  @keyframes background-move {
    to{
        background-position: 300%;
    }
  }
.hi-text{
    position: relative;
    z-index: 11;
    font-size: 8rem;
    color: var(--white);
    padding-bottom: 1rem;
}

/* about section */

.about{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 3rem;
}
.about-border{
    width: calc(40% + 10px);
    height: calc(60% + 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(1rem + 3px);
    background: linear-gradient(45deg, var(--main-2),
     var(--detal-2),
      #06d69e,
      #779BE7,
      #DC965A,
      var(--main-2));
      background-size: 300%;
    animation: border-move 22s linear infinite;
    /* box-shadow: 4px 4px 16px 0px var(--black); */
}
@keyframes border-move {
    0%{
        background-position: 0%;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
  }
.about-wraper{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 1rem;
    background-color: var(--white);
    clip-path: polygon(100% 0, 100% 68%, 82% 100%, 0 100%, 0 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 18% 2rem 2rem;
}
.about-title{
    line-height: 3.5rem;
    font-size: 2rem;
    font-weight: 800;
}
.about-text{
    /* line-height: 3.5rem; */
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--black);
}

/* work section */

.work{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.work::before{
    content: "";
    /* background-color: var(--main-1); */
    background-color: #779BE7;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.work::after{
    content: "";
    background-color: var(--main-2);
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}
.work-title-wraper{
    margin-top: 10vh;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 20;
}
.work-title{
    font-size: 8rem;
    font-weight: 700;
    color: var(--white);
    padding-right: 1rem;
}
.projects-conteiner{
    z-index: 20;
    padding-top: 2rem;
    height: 65%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: flex-start;
    /* display: grid;
    grid-template-columns:  30% 30% 30%;
    grid-template-rows: 45% 45%;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content:space-between;    */
}

/* work section project card */

.project{
    width: 19%;
    height: 90%;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: calc(1rem + 3px);
    border: 4px solid var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    /* box-shadow: 4px 4px 16px 0px var(--black); */
}
.project-img-wraper{
    width: 100%;
    height: auto;
}
.project-img{
    width: 100%;
    border-radius: 1rem;
    object-fit: contain;
}
.project-text-wraper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0.4rem;
}
.project-title{
    font-weight: 700;
    color: var(--black);
    font-size: 1.5rem;
}
.project-description{
    font-weight: 500;
    color: var(--black);
    font-size: 1rem;
}
.project-links-conteiner{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 10%;
    width: 90%;
    display: flex;
}
.project-link-wraper{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-link-wraper:hover .project-link, .project-link-wraper:hover .project-link-i{
    transform: translate(-5px, -5px);
}
.project-link{
    color: var(--black);
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: underline 2px;
    transition: 0.2s;
}
.project-link-i{
    text-decoration: none;
    font-style: normal;
    transition: 0.2s;
}

/* contact section */

footer{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    background-color: var(--main-2);
}
.footer-border{
    width: calc(40% + 10px);
    height:  calc(20vh + 10px);
    border-radius: calc(1rem + 3px);
    background: linear-gradient(45deg, var(--main-2),
    var(--detal-2),
     #06d69e,
     #779BE7,
     #DC965A,
     var(--main-2));
     background-size: 300%;
   animation: border-move 22s linear infinite;
   box-shadow: 4px 4px 16px 0px var(--black);
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 4rem;
}
.footer-conteiner{
    border-radius: 1rem;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
    padding-top: 1rem;
    background-color: var(--white);
    clip-path: polygon(100% 0, 100% 58%, 90% 100%, 0 100%, 0 0);

}
.footer-title{
    padding-bottom: 1rem;
    font-size: 3rem;
}
.footer-text{
    color: var(--black);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    transition: 0.4s;
}
.ft-hover:hover{
    padding-left: 0.5rem;
}